.colortheme-container h2 {
  margin-left: 50px;
}

.colorcard_container {
  margin: 5px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.colorcard_name {
  background-color: lightgrey;
  border-radius: 15px 0 0 15px;
}
.colorcard_name h3 {
  text-align: center;
}

.colorcard_name h4 {
  text-align: center;
}

.colorcard-box {
  border-radius: 0 15px 15px 0;
}
.colorcard_container p {
  margin-left: 10px;
}
