.TryOut-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  justify-content: center;
}
.TryOut-button {
  background-color: var(--backgroundColor);
  border-radius: 10px;
  height: 7vh;
  margin-top: 1px;
}
